<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Session_29_Assignment_ADO.NET.Properties.Settings.EmpSearchDBConnectionString"
            connectionString="Data Source=(localdb)\ProjectModels;Initial Catalog=EmpSearchDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>